# Node modules
node_modules/

# Dependency lock file
package-lock.json

# Environment variables
.env

# OS junk files
.DS_Store
Thumbs.db

# Python virtual environment
venv/

#vodoo magic
update.sh
restart.sh